<div class="left hero-unit">
  <h1>Trimodal <font style="color:orange;">Corals</font></h1>

  <br>
  <%= form_tag observations_path, :method => 'get' do %>
  <p>Search observations (including tags):</p>
  <div class="input-append">
    <%= text_field_tag :osearch, params[:osearch] %>
    <%= submit_tag "Search", :name => nil, class: "btn" %>
    <%= link_to 'Reset', observations_path, class: "btn" %>
	</div>
  <% end %>
	
</div>
