<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1>Trimodal <font style="color:orange;">Corals</font></h1>

      <br/>
      <%= form_tag observations_path, :method => 'get' do %>
        <div class="input-group">
          <%= text_field_tag :osearch, params[:osearch], :placeholder => "Tag search...", class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    	
    </div>

    <% if signed_in? %>
      <%= markdown File.open(Rails.root + "README.md", 'r').read %>
    <% end %>

  </div>
</div>

