<div class="row">
	<div class="span6 offset3">
    <h3>Editing observation</h1>

    <%= render 'form' %>

    <%= link_to 'Back to observation', coral_observation_path(@observation.coral, @observation) %> |
    <%= link_to 'Back to coral', coral_path(@observation.coral) %>
  </div>
</div>