/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a {
  color: #222;
  &:visited {
    color: #222; }
  &:hover {
    color: #222;
    background-color: orange; } 
}

a.image {
  color: white;
  &:visited {
    color: white; }
  &:hover {
    color: white;
    background-color: orange; } 
}

td {
	text-align:center;
	padding:3px;
	margin:0px;
}

td.top {
	text-align:left;
	vertical-align: top;
}

tr {
	background-color:#EEEEEE;
}

tr.top {
	background-color:white;
}

tr.image {
	background-color:black;
}

tr.imageS {
	background-color:blue;
}

th {
	background-color:white;
}

table.data {
/*	background-color: #EEEEEE;
*/	text-align:center;
	margin:0px;
	padding:0px;
}